# Ignore artifacts:
build
coverage

# Ignore all HTML files:
**/*.html

node_modules

.gitignore
.prettierignore
.husky

.next/**/*.*

yarn.lock

# public folder
public/**/*.*

src/app/*.png
src/app/*.ico

*.ico